---
import PageHeading from "../components/PageHeading.astro";
import Section from "../components/Section.astro";
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
    <PageHeading
        title="About Our Church"
        subTitle="Find more about our church right here"
    />
    <Section heading="Who we are">
        <p>
            Our aim is to lead and train people to become fully devoted
            followers of Jesus Christ. We as a church like to speak the truth to
            people about Jesus Christ. We are a friendly and a welcoming church
            and visitors are always welcome to join us. We invite you to
            experience church at Ebenezer Pentecostal Church no matter where you
            have been or what you have done.
        </p>
        <p>
            We have services every Sunday at 11 am for all and if you are a
            teenager, we invite you to come along to our Youth Gatherings on
            Saturdays at 7.30 pm were we participate in a variety of programs
            such as songs, bible quiz, plays, bible teaching, Christian videos
            and many more.
        </p>
        <p>
            You'd be interested to know that we also run regular prayer meetings
            throughout the year. Check out the site for the dates of the next
            gathering.
        </p>
    </Section>
    <Section heading="Corporate Governance">
        <p>
            Ebenezer Pentecostal Church is a not for profit organisation and
            registered charity (Charity No: SC040609) which subscribes to a high
            standard of accountability and stewardship of its activities and
            finances.
        </p>
        <p>
            The Church Governance is based on the Charity Commission's (OSCR)
            guidelines for good practice and standards and the annual accounts
            are lodged.
        </p>
        <p>
            The Trustees meet a minimum of twice a year to review the financial
            reporting and governance and make sure the standards required are
            being maintained and improved where possible. The board in turn will
            report annually to the members.
        </p>
        <p>
            Ebenezer Pentecostal Church is a Christ centred ministry and
            therefore the trustees and employees are expected to conduct
            themselves with the highest of ethical and biblical standards.
        </p>
    </Section>
    <Section heading="Jesus Lives Forever">
        <p>
            We know God exists, but how can we relate to him? The Bible teaches
            us that God made us and designed us with relationship in mind, not
            just relationship with one another, but with Him, our Creator.
            Because humankind has chosen to live life, in our own way, we've
            missed the God way, hence needing a new way to return to freedom and
            relationship with God.
        </p>
        <p>
            Jesus, the son of God, who the Bible describes as "the visible image
            of the invisible God" entered the human arena to provide just that:
            a way back to relationship with the Father. Jesus, in understanding
            that for us to have relationship with God, a sacrifice needed to be
            given, lived and gave His life for everyone of us, so we could have
            relationship with the Father restored.
        </p>
        <p>
            Restored relationship with our Creator is what is available to us
            all through Jesus even to this day. The bible teaches us that if we
            confess with our mouth what we believe in our heart that Jesus
            Christ is Lord, we can and will be saved from our current life and
            into newness of life - the life we were made for. If you would like
            to start that journey of relationship with God, you can do that
            today. It's the most amazing step, that acknowledges your need of
            God and your desire to walk with him in relationship from this day
            forward. If that's you, with all your heart speak the following
            prayer to God today:
            <blockquote>
                Jesus, I thank you that you died for me, so that I could have a
                relationship with God restored. Today, I give myself to you and
                commit to walk with you all the days of my life. In your name I
                ask. Amen!
            </blockquote>
        </p>
        <p>
            If you have made that decision in your heart today, it's the best
            decision you could ever make and the start of a whole new journey
            with God at your side. We would love to hear from & celebrate with
            you and help you in your next steps.
        </p>
    </Section>
    <Section heading="Statement of Faith">
        <ol class="list-decimal text-left">
            <li>
                The Holy Scriptures as the revealed will of God, the all
                sufficient rule for faith and practice. The Holy Bible
                consisting of sixty-six (66) books including the Old and New
                Testament, is the inspired Word of God, a revelation from God to
                Man, concerning the will of God in all things necessary to our
                faith, conduct and salvation, so that whatever is not contained
                therein is not to be enjoined as an article of faith (Hebrews
                4:12; 2 Peter 1:20-21; 2 Timothy 3:15-17).
            </li><li>
                In one God, eternally existing in three persons, namely the
                Father, the Son and the Holy Ghost (Deuteronomy 6:4; Isaiah
                43:10-11; Matthew 28:19; Mark 12:29).
            </li><li>
                That Jesus Christ is the only Begotten Son of the Father,
                conceived of the Holy Spirit, and born of virgin Mary (Isaiah
                7:14; Matthew 3:16-17)., that Jesus Christ died at the cross,
                and was buried and raised from the dead; that He ascended to
                heaven and is today at the right hand of the Father as our
                intercessor.
            </li><li>
                In the Holy Ghost, the Lord and giver of life, who proceed from
                the Father and the Son; who with the Father and Son together is
                worshiped and glorified (John 14:16-17).
            </li><li>
                That man was created in the image and likeness of God, but fell
                by voluntary transgression and his only hope of redemption and
                salvation is in Jesus Christ; that all have sinned and come
                short of the glory of God, that repentance is commanded of God
                for all, and is necessary for forgiveness of sin; that
                salvation, new birth and justification are wrought by the grace
                of God, and faith in the Lord Jesus Christ and the renewing work
                of the Holy Ghost (Genesis 1:26-31; 3:1-7; Romans 5:12-21; 6:23;
                10:13; Titus 2:11, 3:5-7).
            </li><li>
                The inward evidence of salvation, new birth and justification to
                the believer is the direct witness of the Spirit, and the
                outward evidence to all men is a life of righteousness and
                holiness (Romans 8:16; 12:1-2).
            </li><li>
                In the ordinance of water baptism by immersion, in the name of
                the Father, and of the Son and of the Holy Ghost, for all who
                repent and believe Jesus Christ as Savior and Lord (Matthew
                28:19; Acts 10:47; Romans 6:4).
            </li><li>
                All believers are entitled to and earnestly seek the promise of
                the Father, the Baptism in the Holy Spirit according to the
                command of our Lord Jesus Christ; that the full consummation of
                the Baptism of the believers in the Holy Spirit is evidenced by
                the initial sign of speaking with other tongues as the Spirit
                give utterances and by the subsequent manifestation of the gifts
                and fruits of the Spirit (Luke 24:49, Acts 1:4-6; 1:8; 2:4;
                2:38; 10:44-46; 11:14-16; 15:7-9; 19:2-6; 1 Corinthians
                12:1-31).
            </li><li>
                The Lord's Supper consisting of the elements of bread and the
                fruit of the wine, is a memorial of His sufferings and death and
                a prophecy of His second coming, and will be enjoined by all
                believers, "until He comes" (Luke 22:17-20; 1 Corinthians
                10:16,17; 11:23-32).
            </li><li>
                Deliverance from sickness is provided for in the atonement and
                is the privilege of all believers, and the anointing of the sick
                with oil for healing and the laying on of hands (Isaiah 53:4;
                Matthew 8: 16-17; Mark 16:18-20; James 5:14-16).
            </li><li>
                The Church is the body of Christ, the habitation of God through
                the Spirit, with divine appointments for the fulfilment of His
                great commission; and that a divinely called and scripturally
                ordained ministry have the two fold purposes of evangelization
                of the world and the edifying of the body of Christ (Ephesians
                1:22,23; 2:19-22; Hebrews 12:23; Mark 16:15-20; Ephesians
                4:11-13).
            </li><li>
                In the pre-millennial second coming of Jesus Christ, the
                resurrection of those who are asleep in Christ, and the rapture
                of those who are alive and remain in the coming of the Lord, is
                eminent and is the blessed hope of the Church (Romans 8:23; 1
                Corinthians 15:51-52; 1 Thessalonians 4:16-18; Titus 2:13).
            </li><li>
                In the appearance of the Lord Jesus Christ from heaven, the
                salvation of all Israel, and the millennial reign of Christ on
                this earth is the scriptural promise and the world’s hope
                (Romans 11:25-27; 2 Thessalonians 1:7; Revelation 19:11-16;
                20:1-7).
            </li><li>
                That the devil and his angle, the beast and the false prophet,
                and whosoever is not found written in the Book of Life will be
                cast into everlasting punishment into the lake that is burning
                with fire and brimstone (Revelation 19:20; 20:10-15).
            </li><li>
                In His promise and look for new heavens and a new earth wherein
                the righteous will dwell (2 Peter 3:13; Revelation 21:1).
            </li>
        </ol>
    </Section>
    <Section heading="What We Believe">
        <ul class="text-left">
            <li>
                <strong>We believe</strong> that the Bible is God's Word. It is accurate,
                authoritative and applicable to our everyday lives.
            </li>

            <li>
                <strong>We believe</strong> in one eternal God, who is the Creator
                of all things. He exists in three Persons: God the Father, God the
                Son and God the Holy Spirit. He is totally loving and completely
                holy.
            </li>

            <li>
                <strong>We believe</strong> that sin has separated each of us from
                God and His purpose for our lives.
            </li>

            <li>
                <strong>We believe</strong> that the Lord Jesus Christ is both God
                and man and is the only One who can reconcile us to God. He lived
                a sinless and exemplary life, died on the cross in our place, and
                rose again to prove His victory and empowers us to do life.
            </li>

            <li>
                <strong>We believe</strong> that in order to receive forgiveness
                and the 'new birth' we must repent of our sins, believe in the Lord
                Jesus Christ, and submit to His will for our lives.
            </li>

            <li>
                <strong>We believe</strong> that in order to live the holy and fruitful
                lives that God intends for us, we need to be baptised in water and
                be filled with the power of the Holy Spirit. The Holy Spirit enables
                us to use spiritual gifts, including speaking in tongues.
            </li>

            <li>
                <strong>We believe</strong> in the power and significance of the
                Church and the necessity of believers to meet regularly together
                for fellowship, prayer and the 'breaking of bread'.
            </li>

            <li>
                <strong>We believe</strong> that God has individually equipped us,
                so that we can successfully achieve His purpose for our lives, which
                is to worship God, fulfil our role in the Church and serve our local
                community.
            </li>

            <li>
                <strong>We believe</strong> that God wants to heal and transform
                us so that we can live healthy and blessed lives; in order that we
                can help others more effectively.
            </li>

            <li>
                <strong>We believe</strong> that our eternal destination of either
                Heaven or hell is determined by our response to the Lord Jesus Christ.
            </li>

            <li>
                <strong>We believe</strong> that the Lord Jesus Christ is coming
                back again as He promised.
            </li>
        </ul>
    </Section>
</BasicLayout>
