---
import BasicLayout from "../layouts/BasicLayout.astro";
import MapApp from "../components/MapApp.jsx";
import PageHeading from "../components/PageHeading.astro";
import Section from "../components/Section.astro";
---

<BasicLayout>
    <!--Title-->
    <PageHeading title="Contact Us" />
    <!--Intro-->
    <Section heading="We are located at:">
        Lodge Georgetown, 8 Penilee Rd, Paisley PA1 3AX
    </Section>
    <MapApp client:load />
</BasicLayout>
