---
import BasicLayout from "../layouts/BasicLayout.astro";
import Logo from "../components/Logo.astro";
import PhotoQuote from "../components/PhotoQuote.astro";
import Banner from "../components/Banner.astro";
import Section from "../components/Section.astro";
---

<BasicLayout>
    <Logo />
    <!--Intro-->
    <Section heading="Welcome!">
        We're Glad You're Here! We aim to lead people to become fully developed
        followers of Jesus Christ and like to tell people the truth about Jesus.
        We want our church to be a place of exuberant worship where as
        apprentices of Jesus we can receive sound teaching in the Bible and to
        be a positive influence on the community around us in practical as well
        as spiritual ways.
    </Section>
    <Section heading="We're Friendly, Join Us!">
        Welcoming churches and visitors are always welcome to join. Whether
        you're single, married, single again, with or without children - no
        matter where you've been or what you've done - we invite you to
        experience our church at Ebenezer Pentecostal Church. We have services
        every Sunday at 11 am services for you all. If you're a teenager, we
        invite you to come along to experience and our youth gathering on
        Saturday nights, the most happening place in Glasgow! There is plenty
        else on also during the week so check out our calendar for more details.
    </Section>
    <Section heading="Find Out More">
        If you are here to find out more about the Christian faith, you will be
        interested to know that we also run regular bible classes at various
        times and locations throughout the year. Check out our calendar for the
        dates of our next gathering.
    </Section>
    <!--Pastor Welcome-->
    <PhotoQuote
        image="senior_pastor.jpg"
        imageAlt="Senior Pastor photo"
        quote="All friends who are coming for work and study are invited. We hope to see you soon!"
        quoter="Babu Zachariah"
        position="Senior Pastor"
    />

    <!--Schedule with banner-->
    <Banner banner="banner.jpeg">
        <p class="md:basis-full md:self-end md:text-5xl text-4xl">
            Sunday Worship
        </p>
        <p class="md:order-1 md:basis-2/5 md:self-end">English</p>
        <p class="md:order-3 md:basis-2/5 md:h-2/5">10:15 - 11:00</p>
        <p class="md:order-2 md:basis-2/5 md:self-end">Malayalam</p>
        <p class="md:order-4 md:basis-2/5 md:h-2/5">11:00 - 13:00</p>
    </Banner>
    <!--Sermon Diary-->
    <Section heading="Sermon Diary">
        We should live a holy life, a life that is set apart from others. We
        should live a life that is pleasing to God and that is done by faith,
        being spiritually minded, fearing God, obedience and doing God's will in
        our life. We need to have a life of clear-cut separation from evil. God
        called us to a life of purity not impurity and we can guard this by
        placing God above us.
    </Section>
    <!--Transition-->
    <!--Long Scroll/Paralax-->
    <!--Contact Us-->
    <!--Gallery Photos-->
</BasicLayout>
