---
import Banner from "../components/Banner.astro";
import PageHeading from "../components/PageHeading.astro";
import Section from "../components/Section.astro";
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
    <PageHeading title="Ladies Ministry" />
    <Section>
        The ladies of the church gather together to edify one another as well as
        offering prayer and support to the church and needed. We believe that
        every person on earth is valuable and has a specific purpose in life. As
        women both individually and corporately we seek to align ourselves in
        the faith with Godly values and principles so as to be who we were
        created to be on this earth.
    </Section>
    <Banner banner="ladies_banner.jpg">
        <p class="md:basis-full md:self-center md:text-5xl text-4xl">
            Every 3rd Thursday
        </p>
    </Banner>
</BasicLayout>
