---
import BasicLayout from "../layouts/BasicLayout.astro";
import PhotoQuote from "../components/PhotoQuote.astro";
import Banner from "../components/Banner.astro";
import PageHeading from "../components/PageHeading.astro";
import Section from "../components/Section.astro";
import BibleQuote from "../components/BibleQuote.astro";
---

<BasicLayout>
    <!--Title-->
    <PageHeading
        title="PYPA"
        subTitle="Pentecostal Young Peoples' Association"
    />

    <!--Intro-->
    <Section heading="Our Vision">
        <p>
            To nurture and foster the spiritual growth of the church youth and
            to honour God with good works through acts of service for the less
            fortunate.
        </p>
        <BibleQuote
            quote="Let your light so shine before men, that they may see your good works, and glorify your Father which is in heaven."
            reference="Matthew 5:16"
        />
        <p>
            Your good works are like a light, and when that light shines, it
            illuminates God.
        </p>
    </Section>

    <PhotoQuote
        image="noel.jpg"
        imageAlt="PYPA Secretary"
        quote="All friends who are coming for work and study are invited. We hope to see you soon!"
        quoter="Noel Saju"
        position="PYPA Secretary"
    />

    <PhotoQuote
        image="dipin_daniel.jpeg"
        imageAlt="Home Group Lead Photo"
        quote="All friends who are coming for work and study are invited. We hope to see you soon!"
        quoter="Dipin Daniel"
        position="Home Group Lead"
    />

    <Section heading="Monthly Programme">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet
        arcu quis sapien facilisis maximus ac eu diam. Maecenas porta euismod
        ante, at fringilla arcu mattis id. Mauris nec velit ut urna blandit
        rhoncus. Sed sit amet ipsum enim. Duis consectetur nisl est, sed
        convallis diam vestibulum at. Phasellus dignissim gravida libero. Nulla
        mauris sem, tristique ut sodales in, lobortis venenatis enim. Cras
        consectetur luctus eros, sit amet auctor est iaculis at. Donec ac elit
        risus.
    </Section>

    <Section heading="Home Group">
        Are you looking for a Christian community where you can build meaningful
        relationships, find support, and grow in your faith? Our home group is a
        loving community of young adults, youths, teens, and students aged 13+.
        We believe in fostering genuine connections, providing encouragement,
        and helping each other grow in our spiritual journeys. Join us as we
        exalt God and walk together towards spiritual maturity. Come and be a
        part of this incredible group of Christian brothers and sisters!
    </Section>

    <!--Schedule with banner-->
    <Banner banner="home_banner.jpeg">
        <p class="md:basis-2/5 md:self-end md:text-5xl text-4xl">
            Monthly Programme
        </p>
        <p class="md:order-1 md:basis-2/5 md:self-end">3rd Sunday</p>
        <p class="md:order-3 md:basis-2/5 md:h-2/5">After Worship</p>
        
        <p class="md:basis-2/5 md:self-end md:text-5xl text-4xl">Home Group</p>
        <p class="md:order-2 md:basis-2/5 md:self-end">Once a Week</p>
        <p class="md:order-4 md:basis-2/5 md:h-2/5">19:30 - 21:00</p>
    </Banner>
</BasicLayout>
