---
const BASE = import.meta.env.BASE_URL;
---

<div class="relative w-[240px] h-[150px] mt-24">
    <img class="w-[100px] h-[100px] left-[33px] top-0 absolute"
        src={BASE + "/android-chrome-192x192.png"} />
    <h1 class="font-heading text-[64px] text-blue-zodiac-950 left-0 top-[45px] absolute">
        Ebenezer
    </h1>
    <h2 class="font-['Arial'] text-[27px] text-[#6B692E] left-[2px] top-[110px] absolute">
        Pentecostal Church
    </h2>
</div>