---
const { title, subTitle } = Astro.props;
---
<div class="relative h-[150px] mt-24">
    <h1 class="text-[64px] left-0 relative">
        {title}
    </h1>
    <h2 class="text-[27px]">
        {subTitle}
    </h2>
</div>