---
const { title, subTitle } = Astro.props;
---
<div class="relative h-[150px] mt-24">
    <h1 class="font-heading text-[64px] text-blue-zodiac-950 left-0 relative">
        {title}
    </h1>
    <h2 class="font-['Arial'] text-[27px] text-[#6B692E]">
        {subTitle}
    </h2>
</div>